/**{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#24252A;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}
header nav a{
    font-family: "Montserrat",sans-serif;
    font-weight:500;
    font-size:16px;
    color:#edf0f1;
    text-decoration:none;
    
}
header .logo p{
    color:#edf0f1;
    position: fixed;
}
header nav{
    list-style: none;
}
header nav a{
    display:inline-block;
    padding:0px 20px;
}
header nav a{
    transition: all 0.3s ease 0s;
}
header nav a:hover{
    color:#0088a9;
}*/


/* horizontal bar*/

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 10%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 25px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

header .logo p{
    color:#edf0f1;
    
    font-size: 30px;
}
header{
    background-color: #555;
}


