<section>
    <div class="content">
        <table>
            <tr><img src="faceF.png" alt="Avatar" style="width:100%"></tr>
            <tr>
                <th>Ted james</th>
            </tr>
            <tr>
                <p>1234Anywhere St.<br/>Phoenix,<br/>Arizona</p>
            </tr>
        </table>
    </div>
    <div class="googlemap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d458887.9396136559!2d77.72034400672275!3d14.87002522061947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb4036dab5ff8f7%3A0xf0d31aff4fbcea4e!2sTadipatri%2C%20Andhra%20Pradesh%20515411!5e1!3m2!1sen!2sin!4v1667467238225!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
