<section>
    <div class="labe">
        <label>Filter: </label>
        <select name="dropdown">
            <option>by A-Z</option>
            <option>by a-z</option>
        
        </select>
    </div>
    <br/><br/>
    <div class="row">
        <div class="column">
            <div class="content">
                <img src="faceF.png" alt="Avatar" style="width:100%">
                <h3>Ted James</h3>
                <p>Flotida,<br/>USA<br/><a href="/view order">view orders</a></p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="faceF.png" alt="Avatar" style="width:100%">
                <h3>Ted James</h3>
                <p>Flotida,<br/>USA<br/><a href="/view order">view orders</a></p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="faceF.png" alt="Avatar" style="width:100%">
                <h3>Ted James</h3>
                <p>Flotida,<br/>USA<br/><a href="/view order">view orders</a></p>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="faceF.png" alt="Avatar" style="width:100%">
                <h3>Ted James</h3>
                <p>Flotida,<br/>USA<br/><a href="/view order">view orders</a></p>
            </div>
        </div>
    </div>
</section>
